
// Custom background color
.leaflet-container {
  background: #f3f2ee !important;
}

// Custom popup styling
.leaflet-pane {

  .leaflet-popup {
  }

  .leaflet-popup-content {
    margin: initial;
    line-height: initial;
  }
  .leaflet-popup-tip-container {
    display: none;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 0;
  }
}